.page{
	test-align: center;
	margin-top: 20px;
	width: 960px;
	padding-left: 80px;
	padding-right: 80px;
	font-family: arial;
}

.headerBox{
	background: #000066;
	margin: 0px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;	
}

.titleBox{
	border-bottom: 5px solid #ADADAD;
}

.blueBox{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #3366FF;
}

.noLeftAlign{
	padding-left: 0px;
}

.leftAlign{
	padding-left: 15px;
}

#navList li{
	display: inline;
	list-style-type: none;
}